*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
nav h1{
    text-transform: uppercase;
    font-family: 'Grandstander', cursive;
    font-weight: 700;
    color: #FF3A58;
    width: 220px;
    height: 21px;
    margin-left: 150px;
    font-size: 30px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100vw;
    height: 80px;
    box-shadow: 0px 1px 10px #0000001A;
}
nav ul{
    display: flex;
    list-style-type: none;
    width: 700px;
    height: 14px;
}
nav li{
    padding-right: 40px;
    text-align: left;
    font-family: 'Grandstander', cursive;
    letter-spacing: 0px;
    color: #333333;
}
 .first{
    padding-top: 50px;
    padding-left: 150px;
    display: flex;
    flex-direction: column;
    font-family: 'Montserrat', sans-serif;
}
 .first .details{
    display: flex;
    justify-content: space-between;
    width: 250px;
}
 .first h1{
    width: 920px;
    height: 50px;
    text-transform: capitalize;
    letter-spacing: 1px;
    font-size: 25px;
}
 .first img{
    padding-top: 30px;
    width: 500px;
}
 .first .image-booking{
    display: flex;
    width: 1100px;
    /* border: 2px solid green; */
}
 .first .booking{
    margin-left: 200px;
    margin-top: 30px;
    width: 445px;
    height: 347px;
}
 .first p{
    padding-top: 10px;
    padding-bottom: 10px;
}
.date{
    padding-bottom: 40px;
}
 .first .booking ul{
    display: flex;
    justify-content: space-around;
}
.bold{
    font-weight: bold;
}
 .first .booking li{
    padding: 5px;
    list-style-type: none;
    width: 130px;
    text-align: center;
    width: 102px;
    height: 35px;
    /* background: #FFFFFF 0% 0% no-repeat padding-box; */
    border: 1px solid #707070;
    border-radius: 20px;
}
.booking h5{
    padding-bottom: 20px;
    color: #A9B7B9;
}
 .first .fee{
    padding-top: 5px;
    padding-bottom: 20px;
}
.first .fee p{
    text-align: center;
    font-weight: bolder;
    padding: 10px;
    width: 160px;
    height: 45px;
    text-decoration: none;
    background-color: #FFFFFF; 
    border-radius: 5px;
    box-shadow: 2px 2px 0px #0000001A;
}
 .first .links a{
    margin-top: 10px;
    padding: 15px;
    text-decoration: none;
    color: white;
    border: 1px solid #FF3A58;  
    border-radius: 5px;
    background: #FF3A58 0% 0% no-repeat padding-box;
    box-shadow: 2px 2px 0px #0000001A;
}
h2{
    font-family: 'Grandstander', cursive;
}
.about p{
    font-family: 'Montserrat', sans-serif;
}
.gbs{
    /* border: 2px solid green; */
    height: 300px;
    margin: 80px 150px;
}
.gbs h2, h3, .about h2{
    padding-bottom: 30px;
}
.gbs h3, .gbs li{
    font-family: 'Grandstander', cursive;
}
.gbs p{
    display: flex;
}
.gbs div ul{
    display: flex;
}
.gbs li{
    list-style-type: none;
    /* background-color: green; */
    padding: 5px;
    width: 216px;
    height: 60px;
    text-align: center;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 1px 1px 0px #0000001A;
    border: 1px solid #CBD8DB;
    border-radius: 30px;    
}
.gbs .threeset{
    display: flex;
    flex-wrap: wrap;
}
.gbs div{
    padding-bottom: 30px;
}
.about{
    height: 150px;
    width: 1100px;
    margin: 40px 150px;
    /* border: 2px solid green; */
}
.about p{
    letter-spacing: 0.25px;
    word-spacing: 1px;
}